
  .App__form {
    text-align: center;
  }
  .App__input{
    width: 230px;
    padding: 10px;
    margin: 30px 20px;
    border: none;
  }
  .App__form__button {
    padding:10px 40px;
    border:none;
    background-color: #fff;
    cursor:pointer;
  }