.App__todo{
    width: 80%;
    margin: 0 auto;
    padding-left:40px;
    padding-right: 10px;
    color:#fff;
    line-height: 30px;
    
  }
  .App__todo__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .App__todo__content--done{
    text-decoration: line-through;
  }
  .App__actions button{
    background-color: transparent;
    border:none;
    cursor:pointer;
    outline: none;
  }
  .App__actions{
    height: 18px;
  }
  .App__actions--icons{
    width:18px;
  }
  .App__edit__content{
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  .App__edit{
    width: 230px;
    padding: 6px 10px;
    border: none;
    margin: 3px -4px;
  }
  .App__edit--icons{
    width: 18px;
  }
  .Edit__form{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width:100%;
  }