.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__content{
  background-color: #282c34;
  width: 500px;
  height: 100vh;
  padding:20px;

}